.imageContainer{
   width: 100%;
   height: fit-content;
   
   top: 20%;
   position: absolute;
   /* margin-left: 30px; */
}

.row{
   height: fit-content;
   width: 60%;
   margin: 0 auto;
   
}

.image{
   height: 250px; 
   width: 400px;
}
