<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Pick an Image</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    
</head>
<body>
    <h1>This is a title</h1>
    <div class=imageContainer>
        <div class=row>
            <img class=image onclick="" src="../static/images/image2.jpg" id="image2" alt="images">  
        </div> 
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>
</html>

<script>$(document).ready(function() {
    var coordssofar = [];
    var usercorrect = [{50:50},{50:50},{50:50}];

    $("#image2").on("click", function(event) {
        var x = event.pageX - this.offsetLeft;
        var y = event.pageY - this.offsetTop;
        storeCoordinate(x,y,coordssofar);
        // alert("X Coordinate: " + x + " Y Coordinate: " + y);
        console.log(coordssofar);
        
    });

function storeCoordinate(xVal, yVal, coordssofar) {
    coordssofar.push({x: xVal, y: yVal});
    var arraysMatch = checkequal(usercorrect,coordssofar);
    console.log(arraysMatch)
    
}

function checkequal(coordssofar,usercorrect){
    if (coordssofar.length !== usercorrect.length) return false;
	// Check if all items exist and are in the same order
	for (var i = 0; i < coordssofar.length; i++) {
		if (coordssofar[i] !== usercorrect[i]) return false;
	}
	// Otherwise, return true
	return true;
}})
</script>


