<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Pick an Image</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="stylesheet" href="../styles/style.css" />
     -->
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

    
</head>
<body>
    <!-- <h1>This is a title</h1> -->
    <div class=imageContainer>
        <div class=row>
            <img class=image onclick="" src="../static/images/image2.jpg" id="image" alt="images">
            <img class=image onclick="" src="../static/images/image2.jpg" id="image" alt="images">
            <img class=image onclick="" src="../static/images/image2.jpg" id="image" alt="images">
        </div>
        <div class=row>
            <img class=image onclick="" src="../static/images/image2.jpg" id="image" alt="images">
            <img class=image onclick="" src="../static/images/image2.jpg" id="image" alt="images">
            <img class=image onclick="" src="../static/images/image2.jpg" id="image" alt="images">
        </div>
        <div class=row>
            <img class=image onclick="" src="../static/images/image2.jpg" id="image" alt="images">
            <img class=image onclick="" src="../static/images/image2.jpg" id="image" alt="images">
            <img class=image onclick="" src="../static/images/image2.jpg" id="image" alt="images">
        </div>
    </div>
    
    
</body>
</html>
