<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Pick an Image</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="stylesheet" href="../styles/style.css" />
     -->
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
     <script src="{{url_for('static', filename='script.js')}}"></script>
    
</head>
<body>
    <h1>Please Select Your Image</h1>
    <div class=imageContainer>
        <div class=row>
            <img class=image onclick="validate(this.id)" src="../static/images/image3.jpg" id="image1" alt="images">
            <img class=image onclick="" src="../static/images/image2.jpg" id="changed_image" alt="images">
            <img class=image onclick="" src="../static/images/image2.jpg" id="image" alt="images">
        </div>
        <div class=row>
            <img class=image onclick="" src="../static/images/image2.jpg" id="image" alt="images">
            <img class=image onclick="" src="../static/images/image2.jpg" id="image" alt="images">
            <img class=image onclick="" src="../static/images/image2.jpg" id="image" alt="images">
        </div>
        <div class=row>
            <img class=image onclick="" src="../static/images/image2.jpg" id="image" alt="images">
            <img class=image onclick="" src="../static/images/image2.jpg" id="image" alt="images">
            <img class=image onclick="" src="../static/images/image2.jpg" id="image" alt="images">
        </div>
    </div>
    
    
</body>
</html>
